// Fichier où mettre le style propre à chaque projet
.home-bg
  background-image: url("../images/home-bg.png")
.home-baseline
  background-color: rgba(var(--color-secondary-rgb), 0.95)
// .pic-home-01

nav > div.bg-primary
  background-color: transparent
// .pic-bottom

.menu-button
  color: var(--color-primary)

.bg-primary-bis
  background-image: url("../images/bg-primary-bis.png")
  // background-color: var(--color-primary)

.footer-bottom
  // // vallons
  // background-color: var(--color-tercery)
  // @apply text-white
  // .emphasis
  //   @apply text-primary
  // broceliande
  @apply bg-primary
  @apply text-gray-200
  .emphasis
    @apply text-secondary